<script>
  window.user = <%- JSON.stringify(user) %>;
  window.cards = <%- JSON.stringify(cards) %>;
</script>


<div class="print-hidden">
  <h1>Your cards</h1>
  
  <% if(cards.length) { %>
    <p>Click on a card for more information. <strong>Right click a card to toggle printing it from this page of cards.</strong></p>
  <% } else { %>
    <p>Uh oh! Looks like you don't have any cards yet.</p>
    <a href="/cards/create" class="button button-primary">Create a new card</a>
  <% } %>
</div>
<div id="printable-cards">
  <% include ../../assets/templates/printableCards %>
</div>

<% if(cards.length) { %>
  <div class="print-hidden">
    <div class="text-center">
      <br>
      <button class="button button-primary print" onclick="window.print();"><i class="fa fa-print"></i> Print all cards</button>

      <div class="safari-show">
        Note: You're using Safari. Printing cards can be buggy. If your card does not print correctly, try using Chrome, Firefox, or Internet Explorer.
      </div>

    </div>
  </div>
<% } %>