<div class="print-hidden">
  <h2>Your cards</h2>
  
  <% if(cards.length) { %>
    <p>Click on a card for more information.</p>
  <% } else { %>
    <p>Uh oh! Looks like you don't have any cards yet.</p>
    <a href="/c/create" class="button button-primary">Create a new card</a>
  <% } %>
</div>

<%// Why do we do this weird double loop? So that only 6 cards are printed on a page. We have to make the fronts match to the backs. %>
<% for(var j=0; j<cards.length; j+=6) {%>
  <% for(var i=j; i < j + 6 && i < cards.length; i++) {%>
    <a href="/c/<%= cards[i].uid %>" class="no-style">
      <div class="card-thumb-front">
        <header><span class='card-text' id="card-top"><%= cards[i].top %></span></header>
        <img src="/images/smiley/<%= cards[i].smiley %>.png" alt="">
        <footer><span class='card-text' id="card-bottom"><%= cards[i].bottom %></span></footer>
      </div>
    </a>
  <% } %>

  <div class="page-break">&nbsp;</div>

  <div class="card-backs">
    <% for(var i=j; i < j + 6 && i < cards.length; i++) {%>
      <div class="card-thumb-back">
        <img src="/images/logo.png" class="logo" alt="">
        <img src="/images/subtitle.png" class="subtitle" alt="">
      </div>
    <% } %>
  </div>
<% } %>

<% if(cards.length) { %>
  <div class="print-hidden">
    <div class="text-center">
      <br>
      <button class="button button-primary print" onclick="window.print();"><i class="fa fa-print"></i> Print all cards</button>
    </div>
  </div>
<% } %>