<h1>Settings</h1>

<form role="form" action="/user/settings" method="post">
  <label>
    Your location:<br>
    <input type="text" name="location" id="settings-location" placeholder="City, State" value="<%= user.location || '' %>" maxlength='50' required autofocus>
  </label>
  
  <br><br>

  <button type="submit" class="button-primary">Save</button>
  <button type="reset">Reset</button>
</form>

