.create-card > * {
  vertical-align: middle;
}
.drop-content {
  width: 310px;

  .smiley-select {
    width: 50px;

    &.selected {
      border: 4px solid #3CAB4F;
    }
  }
}

.card-wrap {
  text-align: center;
}

.permalink {
  width: 250px;
}

.Card (@name, @height) {
  // W: 2.25in; H: 3.5in
  @width: @height * (2.25in/3.5in);

  .@{name}-front,
  .@{name}-back {
    width: @width;
    height: @height;
    border-radius: @height * (0.1in/3.5in);
    position: relative;
    display: inline-block;

  }

  .@{name}-front {
    border: @height * (0.1in/3.5in) solid black;
    background-color: white;

    header, footer {
      position: absolute;

      left: 0;
      right: 0;
      height: @height * (0.9in/3.5in);
      margin: @height * (0.1in/3.5in);
      text-align: center;

      .card-text {
        overflow: hidden;

        // card.js auto font resize bug for Raavi font. Keep from bottom being clipped
        padding-bottom: @height * (7px/3.5in);
        margin-bottom: @height * (-7px/3.5in);
        
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        max-height: 100%;
      }
    }

    header {
      font-family: 'HoboStd';
      top: 0;
      font-size: @height * (0.26in/3.5in);
      font-variant: small-caps;

      .card-text {
        line-height: 1.2em;
      }
    }
    footer {
      font-family: 'Raavi';
      bottom: 0;
      font-size: @height * (0.21in/3.5in);

      .card-text {
        line-height: 1em;
      }
    }



    img {
      width: @height * (1in/3.5in);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

    }
  }

  .@{name}-back {
    background-color: #3CAB4F;
    box-shadow: inset 0 0 0 1000px #3CAB4F; // This forces printing a background :D

    .logo {
      width: @height * (2.3in/3.5in);
      position: absolute;
      left: 50%;
      top: 35%;
      transform: translate(-50%, -35%);
    }
    .subtitle {
      width: @height * (2in/3.5in);
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -80%);
    }
  }
}

.Card(card, 3.5in);
.Card(card-thumb, 2.5in);

.card-thumb-front {
  transition: all .2s ease-in-out;

  // Animating z-index?? Burn the witch!
  z-index: 0;

  &:hover {
    transform: scale(1.5);
    z-index: 100;
    position: relative;
  }
}

.page-break {
  display: none;
}


.card-thumb-back {
  display: none;
}
@media print {
  .Card(card-thumb, 3.5in);
  * {
    float: none !important;
  }
  .card-wrap {
    text-align: left;
  }
  .card-backs {
    text-align: right;
  }
  .card-back,
  .card-thumb-back {
    display: inline-block;
  }
  .container {
    width: 100%;
    max-width: none;
  }
  .table-container, .table-block, .container {
    display: block !important;
    position: static !important;
    margin: 0 !important;
  }
  .container {
    > footer {
      display: none;
    }
  }
  .header-container {
    display: none !important;
  }
  main {
    margin: 0;
  }
  .page-break {
    page-break-after: always;
    display: block;
  }
  .print-hidden {
    display: none;
  }
}
@page {
  margin: 0.5in;
  size: letter portrait;
}