<div class="header-container">
  <header>
    <a href="/">
      <img src="/images/logo.png" alt="">
      <h1>Card creator</h1>
    </a>
    <aside>
      <ul>
        <% if (user) {%>
          <% include items %>
        <% } %>
      </ul>
      <!-- <a href="/">Sign in to get started</a> -->

    </aside>
  </header>
</div>