<div class="header-container">
  <header>
    <a href="/">
      <img src="/images/logo.png" alt="" class="header-logo">
      <img src="/images/subtitle.png" alt="" class="header-subtitle">
      <h1>Card creator</h1>
    </a>
    <aside>
      <% if (typeof user != 'undefined') {%>
        <i class="fa fa-bars nav-items" id="nav-expand"></i>
      <% } %>
      <ul id="nav-items">
        <% if (typeof user != 'undefined') {%>
          <% include items %>
        <% } else { %>
          <li><a href="/">Login</a></li>
        <% } %>
      </ul>
    </aside>
  </header>
</div>

<script type="text/template" id="nav-items-mobile">
  <li><a href="/cards">My Cards</a></li>
  <li><a href="/cards/create">Create a new card</a></li>
  <li><a href="/user/settings"><i class="fa fa-user"></i> Settings</a></li>
  <li><a href="/logout"><i class="fa fa-user"></i> Logout</a></li>
</script>